<div class="contact-card">
  <a
    href=""
    class="contact-card__link"
    ng-click="$ctrl.selectContact();">
    <div class="contact-card__column contact-card__column--name">
      <span ng-bind="$ctrl.contact.name"></span>
      <span class="contact-card__pill contact-card__pill--{{::$ctrl.contact.tag}}">
        <span ng-bind="$ctrl.contact.tag"></span>
      </span>
    </div>
    <div class="contact-card__column contact-card__column--email">
      <span ng-bind="$ctrl.contact.email"></span>
    </div>
  </a>
</div>